@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,500i,600,600i,700,700i');
@font-face {font-family:"Socialico";src:url("Socialico.eot?") format("eot"),url("Socialico.woff") format("woff"),url("Socialico.ttf") format("truetype"),url("Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Poppins"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0;font-family: "Montserrat"}
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Montserrat";font-size: 20px; font-weight: 300; letter-spacing: 3px; color: #fff; display: inline-block; padding: 18px 50px; background: #CB2640; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 50px;font-weight: 100;color:#000;}

/*header*/
#header {position: relative;margin-bottom: -91px;z-index: 1;}
#header .row{max-width: 1300px}
#header nav a#pull {display: none}
#header nav ul {padding: 0; margin: 0;width: 687px;}
#header nav ul li {display: inline-block;vertical-align: middle;padding: 33px 18px;text-align: center;}
#header nav ul li a {font-size: 16px;color:#fff}
#header nav ul li.active-menu, #header nav ul li:hover {background-color: #CB2640}
.hdLeft, .hdRight{display: inline-block;vertical-align: middle}
.hdLeft{width: 41%;}
.hdLeft img{margin-bottom: -200px;}
.hdRight{width: 58%;text-align: right;}
/*banner*/
/* #banner {position: relative;background-image: url(../images/common/bg2.jpg),url(../images/common/bg1.jpg);background-repeat: no-repeat, no-repeat;background-size: 76% 860px, cover;background-position: right bottom, center top;padding: 280px 0 145px; text-align: left;} */
#banner{position: relative;background:  url(../images/common/bgBanner.jpg)no-repeat center top; background-size: 100% 760px; padding: 280px 0 90px;text-align: left;}
/*#banner img{margin-left: -42px; width: 48%;}*/
#banner h5{position: relative;font-size:29px ; font-weight: bold;color: #fff;  letter-spacing: 2px;z-index: 1}
#banner .panel_1{position: relative; margin-top: 50px;z-index: 1}
#banner .panel_1 p{font-family: "Montserrat"; font-size: 50px; color: #fff; font-weight: 300; opacity: 1; letter-spacing: 2px; width: 46%; background: rgba(0,0,0,0.3); padding: 40px 106px 40px 0;line-height: 48px;}
#banner .panel_1 p span{display: block;font-size: 30px; font-weight: bold;}
#banner .panel_2 {position: absolute; margin-left: -200px;background: #CB2640; padding: 30px 30px 30px 200px;z-index: 1;max-width: 765px;text-align: left;z-index: 1}
#banner .panel_2 h5{font-size: 25px;font-weight: 300;letter-spacing: 1px;margin-top: 0;}
#banner .panel_2 p span{font-size: 20px; font-weight: normal;letter-spacing:0}
#banner .panel_2 img, #banner .panel_2 p{display: inline-block; vertical-align: middle;}
#banner .panel_2 p, #banner .panel_2 p span{display: inline-block; vertical-align: top;}
.panel_2 p span{margin-top: -5px;}
#banner .panel_2 .left{width: 60%}
#banner .panel_2 .right{width: 39%; margin-top: 3px;}
#banner .panel_2 .left p, #banner .panel_2 .right p{font-size: 12px; font-weight: bold;letter-spacing: 3px}
#banner .panel_2 .left {display: inline-block;vertical-align: top;color: #fff;}
#banner .panel_2 .right {display: inline-block;vertical-align: top;color: #fff; text-align: left;}
#banner .bar{color: #fff;font-size: 20px; font-weight: 200; font-family: "Montserrat"; letter-spacing: 5px; /*padding: 5px 22px;*/ padding: 5px 40px; position: absolute; right: 0; background: #CB2640;}
.image-banner{position: absolute;z-index: 0;top: 91px;right: 0;}
/*content*/
#content {background: #fff}

/* WELCOME */
#welcome{position: relative;background: #fff; padding: 140px 0 162px;text-align: left;}
#welcome .row{max-width: 1600px}
/* #welcome img{padding:0 0 0 150px;} */
#welcome img{padding:0;}
#welcome p{font-family: "Montserrat"; font-weight: 200; font-size: 30px; text-align: left; margin-left: 1px;margin: 0 40px;}
.redbox{position: absolute;background: #CB2640;width: 262px;height: 589px;top: 140px;right:0;}
/* #welcome .container{position: absolute;;padding: 40px 82px 96px;background:#fff;top: 240px;margin-left: 645px;max-width: 592px;box-shadow: 9px 10px 40px -10px grey;z-index: 1} */
#welcome .container{position: absolute;;padding: 40px 82px 96px;background:#fff;top: 140px;margin-left: 645px;max-width: 592px;box-shadow: 9px 10px 40px -10px grey;z-index: 1;}
#welcome .container h3{font-weight:300;font-size: 20px;margin-bottom: 30px;}
#welcome .container h3::after{content:""; height: 50px; width:15px; background: #20202F; position: absolute; top: 0;right: 17px;}
#welcome .container h1::after{content: ""; width: 454px; height: 10px; background: #CB2640; position: absolute; left: 82px;margin-top: 80px;}
#welcome .container p{font-weight: 300; font-size: 16px; max-width: 546px; letter-spacing: 1px; line-height: 25px; margin: 60px 0 30px; color:#525252;}

/* WHY CHOOSE US */
#whyChooseUs{position: relative;padding: 0 0 100px;}
#whyChooseUs .row{max-width: 1600px}
#whyChooseUs .panel{background: #fff;}
#whyChooseUs .lane{width: 10%;padding: 351px 0;background: #CB2640}
#whyChooseUs .left{max-width: 44%;text-align: left;padding: 40px 20px;}
#whyChooseUs .left h2 {font-size: 50px;font-weight: 200;}
#whyChooseUs .left h2::after{content: ""; width: 440px; height:10px; background: #CB2640; position: absolute;top: 95px;margin-left: -440px;}
#whyChooseUs .left h3 {font-size: 39px; font-weight: 600; margin-top: 30px;}
#whyChooseUs .left h4 {font-size: 24px; font-weight: 600; margin-top: 20px}
#whyChooseUs .left ul.list-col2 {list-style: none;columns: 2;margin: 2px;padding: 0;margin-top: 10px;}
#whyChooseUs .left ul li::before {content: "\25CF"; color: #CB2640;display: inline-block;margin-left: 10px;}
#whyChooseUs .left ul li p{line-height: 20px; text-align: left;margin-top: -20px;margin-left: 24px;font-size: 16px; font-weight: 300; color: #525252}
#whyChooseUs .left p{text-align: center;font-weight: bold; font-family: "Montserrat"; font-size: 40px; color: #CB2640;}
#whyChooseUs .right{width: 42%;}

/* OUR RECENT WORK */
#ourRecentWork{background-color:#20202F; padding: 50px 0 120px;}
#ourRecentWork .top{padding: 0 0 56px}
#ourRecentWork .topLeft{width: 20%}
#ourRecentWork .topLeft h2{font-size: 50px; font-weight: 200;color:#fff; text-align: left;line-height: 50px;}
#ourRecentWork .topRight{width: 40%}
#ourRecentWork .topRight p {font-size: 16px; font-weight: 300;color:#fff; text-align: right;line-height: 30px; margin: 50px 0 0;}
#ourRecentWork .bottom .box{position: relative;display: inline-block; vertical-align: top;max-width: 24%}
#ourRecentWork .bottom .box.big {max-width: 48%}
#ourRecentWork .bottom .box img{max-width: 100%}
#ourRecentWork .bottom .box ul{margin-left: -20px;color: white; text-align: left;font-size: 16px;}
#ourRecentWork .bottom .box ul li{margin-bottom: 20px;}
#ourRecentWork .bottom .overlay {position: relative;}
/*#ourRecentWork .bottom .overlay:after {position: absolute;content:"";top:0;left:0;width:100%;height:98%;opacity:0;background:#CB2640}
#ourRecentWork .bottom .overlay:hover:after  { opacity: .5;}
#ourRecentWork .bottom .overlay:hover:before{content: "VIEW MORE"; position: absolute;color: white; top:45%; left:30%;font-size: 20px;font-family: "Montserrat";z-index: 1; opacity: 1}
#ourRecentWork .bottom .big.overlay:hover:before{content: "VIEW MORE"; position: absolute;color: white; top:45%; left:40%;font-size: 20px;font-family: "Montserrat";z-index: 1; opacity: 1}*/

/*TILE AND GROUT*/
#tile-grout{padding:60px 0;border-right:100px solid #CB2640; border-left:100px solid #CB2640;}

#tile-grout h2{color:#CB2640; font-size:55px; line-height:120%; font-family:"Montserrat"; font-weight:600;}
#tile-grout p{width: 80%; margin:17px auto;}


/* TESTIMONIALS */
#testimonials{position: relative;background: url(../images/content/bg2.png)no-repeat center top;background-size: cover;text-align: left;padding: 140px 0;}
#testimonials .panel{position: relative;padding: 20px 30px;max-width: 775px; max-height: 395px;background: #fff}
#testimonials .panel img{position: absolute;max-width: 60%;top: -100px;left: -100px;}
#testimonials .panel h2{text-align: right;font-weight: 300; font-size: 50px; margin-bottom:40px ;}
#testimonials .panel h2::after{content: ""; position: absolute; top:80px; right:30px; width:368px; height:10px; background:#CB2640 }
#testimonials .panel p{font-size: 16px; font-weight: 300; letter-spacing: 0.7px; color:#525252;}
#testimonials .panel p span{display: block; color: #CB2640}
#testimonials .panel .stars{font-size: 26px; vertical-align: middle;}

/* CONTACT */
#contact{background: #20202F;padding: 95px 0 50px;color: #fff;}
#contact h2{font-weight: 200; font-size: 50px;}
#contact h3{font-weight: 200; font-size: 30px; margin-bottom: 30px;}
#contact form input[type=text]{max-width: 481px; max-height: 38px;display: inline-block;background:#20202F; color: #444444; border:1px solid #444444}
#contact form textarea{max-width: 967px;max-height: 113px; background:#20202F; color: #444444; border:1px solid #444444}
#contact .btn{border: 3px solid #CB2640;background:#20202F; letter-spacing: 1px; font-weight: bold; font-size: 12px}

/* CONTACT DETAILS */
#contactDetails{background: #CB2640; padding: 30px 0;color: #ffffff}
#contactDetails .left,#contactDetails .mid,#contactDetails .right {width: 33%;margin: 0 auto;}
#contactDetails h5{font-family: "Proxima Nova"; font-size: 12px}
#contactDetails p{font-family: "Arial"; font-size: 20px;}
#contactDetails p span{font-family: "Montserrat"; font-size: 30px;display: block;}

/*footer*/
#footer {background: #20202F;padding: 20px 0; color:#ffffff}
#footer .sociolico{font-family: "Socialico"; font-size: 30px; letter-spacing: 20px;margin: 0 0;}
#footer nav ul {margin: 0;padding: 0;text-align: center}
#footer nav ul li {display: inline-block;vertical-align: middle; padding: 20px 0;}
#footer nav ul li a {font-size: 16px; padding: 0 14px;color:#fff; }
#footer nav ul li.active-menu a, #footer nav ul li a:hover {}
#footer .copy, #footer .silver{font-size: 16px; padding: 0 14px;color:#fff;margin: 0 0;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px; margin: 0 0;}


/*inner pages*/
.inner #content {min-height: 400px;padding: 110px 0 40px;}
.inner #content h1{ color:#000; font-size:55px; line-height:120%; font-family:"Montserrat"; font-weight:600;}
.inner #content p{ color:#525252; font-size:18px; line-height:180%; font-family:"Montserrat"; font-weight:600;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

.inner #content h2{color: #CB2640; font-size: 40px;}
.inner #content h3{font-size: 35px;}
.inner #content h4{font-size: 24px;}

/*SERVICES*/
.inner #content ul{ margin: 2px; padding:0; width: 40%; margin: 30px auto;}
.inner #content ul li{margin:5px 0;}
.inner #content ul li p{line-height: 20px; text-align: left; margin: 0 0 0 24px; font-size: 16px; color: #525252}
.coupon {margin-top: 15px; display: block;}
.coupon img{width: 50%}

/*ABOUT US*/
.about-map-container {padding-top: 30px;}
.about-map-container h5 {font-size: 23px; margin-bottom: 15px;}



/*modification codes*/
#banner .row{
	max-width: 1200px;
}
#header nav{
	margin-right: 60px;
}
#welcome_img{
	margin-right: 150px;
}
